body {
    background-color: rgb(253, 251, 251);
    
}
#cabecalho{
    border: 3px solid red;
    position:;
    top: 0px;
}
#minha_foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:25%;
}
#listaskill{
    border: 3px solid red;
    clear:both;
    
    
}
#licoes_aprendidas{
    float: left;
    width: 200px; 
}
#licoes_a_aprender{
    float:left;
}












